In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('Task.csv')
df

,product_id,product_name,category,price,rating,reviews_count,seller,stock,shipment_type,order_date,delivery_date,discount_percent,brand,color,size
0,BAD_ID,Pick Unit,Clothing,8459.99,six,UNKNOWN,Powers LLC,NaN,Prime,11-03-2025,15-03-2025,NaN,Johnston-Anderson,Black,S
1,BAD_ID,Not Next,Clothing,NaN,1.8,121,NaN,NaN,NaN,NaN,00-00-0000,NaN,NaN,NaN,L
2,NaN,NaN,Beauty,-100,4.4,NaN,NaN,390.0,Standard,18-11-2024,23-11-2024,4,Holloway-Green,Blue,XL
3,BAD_ID,Conference Want,Sports,77395.91,*,3765,NaN,376.0,Standard,10-07-2025,14-07-2025,INVALID,NaN,Black,L
4,BAD_ID,Team Next,Beauty,-100,2.2,1297,NaN,NaN,Prime,2025/13/40,NaN,NaN,NaN,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,BAD_ID,Woman Growth,Sports,91948.49,4.6,4779,NaN,NaN,Express,NaN,not_a_date,NaN,Davis-Wade,Blue,NaN
496,3947991545578,Scientist Kitchen,Grocery,87056.82,1.9,UNKNOWN,NaN,NaN,Express,08-09-2025,12-09-2025,INVALID,NaN,Green,S
497,BAD_ID,Bill Management,Beauty,35585.32,1.4,NaN,NaN,NaN,Prime,27-05-2025,01-06-2025,NaN,NaN,Black,L
498,NaN,Institution Forward,Books,86877.78,4.8,UNKNOWN,NaN,167.0,Express,25-10-2025,29-10-2025,27,NaN,Green,L
499,NaN,Travel Society,Books,-100,-1,UNKNOWN,Vega and Sons,NaN,Prime,02-07-2025,09-07-2025,INVALID,Rose-Jackson,White,XL

In [2]:
df.head()
df.tail()
df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        359 non-null    object
 1   product_name      448 non-null    object
 2   category          438 non-null    object
 3   price             481 non-null    object
 4   rating            500 non-null    object
 5   reviews_count     344 non-null    object
 6   seller            153 non-null    object
 7   stock             145 non-null    float64
 8   shipment_type     374 non-null    object
 9   order_date        455 non-null    object
 10  delivery_date     463 non-null    object
 11  discount_percent  324 non-null    object
 12  brand             267 non-null    object
 13  color             423 non-null    object
 14  size              423 non-null    object
dtypes: float64(1), object(14)
memory usage: 31.3+ KB

            stock
count  145.000000
mean   247.786207
std    132.798834
min      5.000000
25%    133.000000
50%    235.000000
75%    350.000000
max    500.000000

In [3]:
df.describe().T

       count        mean         std  min    25%    50%    75%    max
stock  145.0  247.786207  132.798834  5.0  133.0  235.0  350.0  500.0

In [5]:
cat_cols = df.select_dtypes(include =['object']).columns.tolist()
num_cols = df.select_dtypes(include = ['float64']).columns.tolist()

print("Categorial Columns: ", cat_cols)
print("Numerical Columns: ",num_cols)

for col in cat_cols:
    print(f"\n Values count for '{col}': ")
    print(df[col].value_counts())

Categorial Columns:  ['product_id', 'product_name', 'category', 'price', 'rating', 'reviews_count', 'seller', 'shipment_type', 'order_date', 'delivery_date', 'discount_percent', 'brand', 'color', 'size']
Numerical Columns:  ['stock']

 Values count for 'product_id':
product_id
BAD_ID           181
8492939815640      1
1498363485067      1
0815696584303      1
6422376025021      1
                ...
6365431699921      1
4778260889265      1
9675477791907      1
8800720474042      1
3947991545578      1
Name: count, Length: 179, dtype: int64

 Values count for 'product_name':
product_name
Expect Yeah       2
Pick Unit         1
Mind Specific     1
Discuss Third     1
Per Discussion    1
                 ..
Act Bring         1
About Kind        1
First Son         1
Thousand Care     1
Travel Society    1
Name: count, Length: 447, dtype: int64

 Values count for 'category':
category
Sports         73
Home           73
Books          66
Beauty         60
Clothing       58
Grocery        55
Electronics    53
Name: count, dtype: int64

 Values count for 'price':
price
FREE        21
abc         16
-100        15
34910.03     1
27706.54     1
            ..
65699.81     1
80091.96     1
6981.38      1
6134.19      1
86877.78     1
Name: count, Length: 432, dtype: int64

 Values count for 'rating':
rating
2.7    19
3.3    17
3.4    17
1.7    17
4.8    16
-1     16
2.4    16
4      15
1.4    15
4.7    14
1.8    14
1.9    14
4.2    13
3      13
3.8    13
4.4    12
*      12
bad    12
4.1    12
2.8    12
3.7    11
3.2    11
1.5    11
3.1    10
4.5    10
1.6    10
2.1    10
2.3    10
2.5    10
2.2    10
5       9
1.3     9
2       9
1.2     8
3.9     8
six     8
2.9     8
1.1     8
4.6     8
1       7
4.9     7
3.6     7
4.3     6
2.6     3
3.5     3
Name: count, dtype: int64

 Values count for 'reviews_count':
reviews_count
UNKNOWN    176
1734         3
3765         2
1297         2
126          2
          ...
101          1
387          1
1270         1
390          1
4779         1
Name: count, Length: 164, dtype: int64

 Values count for 'seller':
seller
Powers LLC                     1
Williams LLC                   1
Carrillo Ltd                   1
Gray-Spencer                   1
Taylor, Vance and Mitchell     1
                              ..
Hansen, Mills and Wilkerson    1
Thomas Ltd                     1
Smith, Mitchell and Reid       1
David LLC                      1
Vega and Sons                  1
Name: count, Length: 153, dtype: int64

 Values count for 'shipment_type':
shipment_type
Express     127
Prime       125
Standard    122
Name: count, dtype: int64

 Values count for 'order_date':
order_date
2025/13/40      39
INVALID_DATE    30
27-06-2025       4
06-08-2025       4
02-07-2025       4
                ..
07-04-2025       1
05-11-2025       1
08-01-2025       1
30-09-2025       1
25-10-2025       1
Name: count, Length: 240, dtype: int64

 Values count for 'delivery_date':
delivery_date
not_a_date    41
00-00-0000    36
13-03-2025     5
03-08-2025     4
14-12-2024     4
              ..
08-08-2025     1
10-07-2025     1
06-01-2025     1
13-10-2025     1
09-07-2025     1
Name: count, Length: 250, dtype: int64

 Values count for 'discount_percent':
discount_percent
INVALID    169
9            6
48           6
22           5
53           5
          ...
62           1
13           1
63           1
10           1
23           1
Name: count, Length: 62, dtype: int64

 Values count for 'brand':
brand
Matthews and Sons               2
Jordan PLC                      2
Johnston-Anderson               1
Blake, Wall and Graham          1
Spears, Williams and Hawkins    1
                               ..
Harrison-Howard                 1
Hull-Burns                      1
Mcgee, Vargas and Morgan        1
Perez, Shea and Moore           1
Rose-Jackson                    1
Name: count, Length: 265, dtype: int64

 Values count for 'color':
color
Green     81
White     77
Black     72
Blue      70
Red       65
Yellow    58
Name: count, dtype: int64

 Values count for 'size':
size
XL          93
M           89
S           82
One Size    80
L           79
Name: count, dtype: int64

In [6]:
df.isnull().sum()

product_id          141
product_name         52
category             62
price                19
rating                0
reviews_count       156
seller              347
stock               355
shipment_type       126
order_date           45
delivery_date        37
discount_percent    176
brand               233
color                77
size                 77
dtype: int64

In [8]:
print("Duplicated Row count:" ,df.duplicated().sum())

Duplicated Row count: 0

In [ ]:
df['product_id']   = df['product_id'].fillna('NA')
df['product_name'] = df['product_name'].fillna('NA')
df['category']     = df['category'].fillna('NA')
df['price'] = df['price'].fillna('NA')
df['reviews_count'] = df['reviews_count'].fillna('NA')
df['seller'] = df['seller'].fillna('NA')
df['stock'] = df['stock'].fillna(df['stock'].mean())
df['shipment_type'] = df['shipment_type'].fillna('NA')
df['order_date'] = df['order_date'].fillna('Invalid Date')
df['delivery_date'] = df['delivery_date'].fillna('Not a date')
df['discount_percent'] = df['discount_percent'].fillna('')
print(df.isnull().sum())